# Application
PORT=3000
APP_HOST_PORT=3001
NODE_ENV=development
IP_ADDRESS="0.0.0.0"

# db config
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=fintech_wallet
DB_HOST_PORT=5433

# db connection
DATABASE_URL="postgresql://postgres:password@localhost:5433/fintech_wallet?schema=public"

#redis
REDIS_HOST="localhost"
REDIS_PORT=6380
REDIS_HOST_PORT=6380

#jwt
JWT_SECRET="supersecretjwtkey_change_me_in_prod"
